{{> head }}
{{> navbar }}

<div class="row">

<div class="col-8">
<h1>Esta pagina es netamente de información </h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, quo sequi quos quidem sit illo autem officiis minima ex odit illum necessitatibus sapiente et unde repellendus ipsum alias placeat fuga!</p>
</div>

<div class="col-4">
<img src="asset/img/images.png" class="img-thumbnail">
</div>

</div>

{{> footer }}