{{> head }}
{{> navbar }}

<div class="jumbotron">

        <h1 class="display-4">Hola, {{capitalizar nombre }}!</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel corporis soluta obcaecati doloremque assumenda veniam, quos sunt magnam eos sapiente, illo error! Alias fugit molestiae, quis minus odit non vel!</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis quos voluptatibus modi doloremque aliquam temporibus et ut quasi, totam numquam fugit dignissimos obcaecati magni excepturi unde eos ipsa repellendus? Aliquid?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">learn more</a>
        </p>
</div>

{{> footer }}

